
*.xcuserstate

*.xcuserstate

UICatalog.xcodeproj/project.xcworkspace/xcuserdata/fil.xcuserdatad/UserInterfaceState.xcuserstate

UICatalog.xcodeproj/project.xcworkspace/xcuserdata/fil.xcuserdatad/UserInterfaceState.xcuserstate

UICatalog.xcodeproj/xcuserdata/fil.xcuserdatad/xcschemes/UICatalog.xcscheme

UICatalog.xcodeproj/xcuserdata/fil.xcuserdatad/xcschemes/xcschememanagement.plist

UICatalog.xcodeproj/project.xcworkspace/xcuserdata/fil.xcuserdatad/UserInterfaceState.xcuserstate
